.nested-fields
  %li.list-group-item
    .container
      .row.mb-1.d-flex.justify-content-between.align-items-center
        .col-xl
          = f.input_field :question_text, required: true, as: :string, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Task name"}, placeholder: "Insert Question"
        .col-sm
          = link_to_remove_association "Remove Question", f, class: 'btn btn-outline-danger btn-xs'
      .row.input-group.mb-3
        .col.col-lg-12
          .add_answer.answer_form
            = f.simple_fields_for :answers do |answer_form|
              = render 'answer_fields', f: answer_form
      .row
        = link_to_add_association 'Add Answer', f, :answers, class: 'btn btn-outline-secondary add_answer_button '