- content_for :title, ''

.card.mb-3
  %br
  .card-header
    Assessment page - Triage
  .card-body

    = simple_form_for VendorAnswer.new do |f|
      %ul.pagination.justify-content-center
        %li
          - if @answers != nil
            - @answers.each do |ans|
              = f.check_box :answer_id
              = ans.answer_text
              %br
            %br

      %ul.pagination.justify-content-center
        %li 
          -# .input-group.mb-3
          -#   .input-group-prepend
          -#     %span#inputGroupFileAddon01.input-group-text Upload
          -#   .custom-file
          -#     %input#inputGroupFile01.custom-file-input{"aria-describedby" => "inputGroupFileAddon01", type: "file"}/
          -#     %label.custom-file-label{for: "inputGroupFile01"} isocertificate.pdf
          = f.label "Upload your certificates: ", :style => "font-weight:bold" 
          %br
          %br
          = f.file_field :image
          %br
          %br 
          = f.file_field :image
          /= f.input :image, label: "ss"
          %br
          %br
          %br
          %p Asessment progress
          .progress-bar{"aria-valuemax" => "200", "aria-valuemin" => "0", 
            "aria-valuenow" => "40", :role => "progressbar", :style => "width: 70%;"} 40%
      %br
      #task-detail-panel.w-40.p-5.d-flex.flex-column.justify-content-between
        .d-flex.flex-row-reverse
          = f.submit  "Submit", class: 'btn btn-outline-primary', :disabled => 'disabled'
          = f.submit  "Save", class: 'btn btn-outline-primary', :disabled => 'disabled'
          /%input{:type=>"submit",:value=>"Save"}
      %nav.mt-2{"aria-label" => "Page navigation"}
        %ul.pagination.justify-content-center
          %li.page-item.disabled
            %button.page-link{"aria-disabled" => "true", "aria-label" => "Previous", :tabindex => "-1"}
              %span{"aria-hidden" => "true"} «
          %li.page-item.active
            = link_to '1', assessments_index_path, class: "btn page-link", type: "button"
          %li.page-item
            = link_to '2', assessments_questions_path, class: "btn page-link", type: "button"
          %li.page-item
            = link_to '3', assessments_index_path, class: "btn page-link", type: "button"
          %li.page-item
            %button.page-link{"aria-label" => "Next", :disabled => 'disabled'}
              %span{"aria-hidden" => "true"} »