- content_for :title, ''
.card
  .card-header
    Assessment page
  .card-body
    -# this form is to display the assessment questions and answers
    = simple_form_for VendorAnswer.new do |f|
      - if @questions != nil
        %table.table
          %tbody
            %tr
            - @questions.each do |que|
              %tr
                %th= que.question_text
                - @answers1 = Answer.where(question_id: que.question_id)
                - @answers1.each do |ans|
                  %tr
                    %td
                      %input{ type: "radio"}
                      = ans.answer_text
      -# displaying the progress bar and 
      -# increment it based on question tab number
      %ul.pagination.justify-content-center
        .col-md-4
          .progress
            .progress-bar.progress-bar-info.progress-bar-striped{:style => "width: " + (params[:page].to_i*100/@questionsCoun).to_s + "%"  }
      %ul.pagination.justify-content-center
        -#pagination for numbering multiple pages (tabs)
        = pagy_bootstrap_nav(@page).html_safe
      %ul.pagination.justify-content-center
        %li 
          = f.button :submit, "Save", class: 'btn btn-outline-primary', :disabled => 'disabled'
          = f.button :submit, "Submit", class: 'btn btn-outline-primary', :disabled => 'disabled'

      %nav.mt-2{"aria-label" => "Page navigation"}
        = link_to 'Back to main assessment page', assessments_index_path, class: "btn page-link", type: "button"
      
          