- content_for :title, 'Review Questions'
.card
  .card-header
    Assessment Review page
  .card-body
    -# this form is to display the assessment questions and answers
    = simple_form_for VendorAnswer.new do |f|
      - if @questions != nil
        %table.table
          %tbody
            %tr
            - @questions.each do |que|
              %tr
                %th= que.question_text
                %tr
                  - answers = Answer.where(question_id: que.question_id)
                  - answers.each do |ans|
                  - @assessment_link = @assessments
                    - vendor_answer = VendorAnswer.where(answer_id: ans.answer_id)
                    - vendor_answer.each do |vend_ans|
                    - @assig = vendor_answer
                      - if vend_ans.answer_id == ans.answer_id
                        %td= ans.answer_text
                      - else
                        %td
                      -# if the answer chosen requires upload, then show upload button                      
                      - if ans.upload_needed == true
                        - @answerUpdate = vend_ans.answer_id
                        - @assigUpdate = vend_ans.assignment_id
                        %td= f.input :upload, label: "Upload a file of type image"
                      - else
                        %td

      
      %ul.pagination.justify-content-center
        -#pagination for numbering multiple pages (tabs)
        = pagy_bootstrap_nav(@page).html_safe
      %ul.pagination.justify-content-center
        %li 
          = f.button :submit, "Submit", class: 'btn btn-outline-primary'
          = link_to "Back", :back, class: 'btn btn-outline-primary'
      