- content_for :title, 'Review Questions'
.card
  .card-header
    Assessment page
  .card-body
    -# this form is to display the assessment questions and answers
    = simple_form_for VendorAnswer.new do |f|
      - if @questions != nil
        %table.table
          %tbody
            %tr
            - @questions.each do |que|
              %tr
                %th= que.question_text
                %tr
                  - answers = Answer.where(question_id: que.question_id)
                  - answers.each do |ans|
                  - @assessment_link = @assessments
                    - vendor_answer = VendorAnswer.where(answer_id: ans.answer_id)
                    - vendor_answer.each do |vend_ans|
                    - @assig = vendor_answer
                      - if vend_ans.answer_id == ans.answer_id
                        %td= ans.answer_text
                      - if ans.upload_needed == true
                        %ul.pagination.justify-content-center
                          %li 
                            = f.label "Upload your certificates: ", :style => "font-weight:bold" 
                            %br
                            %br
                            = f.file_field :image
                            %br
      -# displaying the progress bar and 
      -# increment it based on question tab number
      -# %ul.pagination.justify-content-center
      -#   .col-md-4
      -#     .progress
      -#       .progress-bar.progress-bar-info.progress-bar-striped{:style => "width: " + (params[:page].to_i*100/@questionsCoun).to_s + "%"  }
      %ul.pagination.justify-content-center
        -#pagination for numbering multiple pages (tabs)
        = pagy_bootstrap_nav(@page).html_safe
      %ul.pagination.justify-content-center
        %li
          = f.button :submit, "Submit", class: 'btn btn-outline-primary'
          = link_to "Back", :back, class: 'btn btn-outline-primary'
      -# %nav.mt-2{"aria-label" => "Page navigation"}
      -#   = link_to 'Back to questions page', assessments_questions_path(assessment_id: @assessment_link.assessment_id, assignment_id: @assig.first.assignment_id), class: "btn page-link", type: "button"
      
