- content_for :title, "Request an account"

%div.d-flex.flex-column.justify-content-center.align-items-center{:style => "height:80vh"}
  .card.text-center{:style => "width:30em"}
    .card-header
      Request for a new account

    .card-bodys.m-4
      -# Error messages
      - if @error_obj
        - if @error_obj.errors.any?
          - @error_obj.errors.full_messages.each do |message|
            .alert.alert-danger{:role => "alert"}
              = message
      -# form
      = simple_form_for :create, url: request_path, method: :post, html: { novalidate: false } do |f|
        = f.input :email, label: 'Email', as: :email, input_html: { value: @email }
        = f.input :name, label: 'Company name', as: :string, input_html: { value: @name }
        = f.input :address, label: 'Address', as: :string, input_html: { value: @address }
        .form-row
          .col-md-6
            = f.input :city, label: 'City/Town', as: :string, input_html: { value: @city }
          .col-md-6
            = f.input :postcode, label: 'Postcode', as: :string, input_html: { value: @postcode }
        = f.input :region, label: 'Country/Region', as: :string, input_html: { value: @region }
        = f.submit 'Request', class: "btn btn-success w-100 mt-3"

    .card-footer.text-muted
      For security reasons, please log out and exit your web browser when you have finished accessing services that require authentication.

