%tr
    -@vendorL.each do |vendor|
        %tr
            %td= vendor.vendor_id
            %td= vendor.company_name
            %td= vendor.company_number
            %td= Assignment.where(vendor_id: vendor.vendor_id, complete: false).count
            %td= link_to 'Edit', admin_admin_edit_path(:vendor_id => vendor.vendor_id), class: "ajax-modal btn btn-outline-secondary", type: "button"