#new-task-panel.card.m-2.w-100.h-100
    = simple_form_for @vendorSelected, url: admin_path(@vendorSelected) do |f|

        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

        
        .card-header.d-flex.justify-content-between.align-items-center.form-inputs

        %h5.m-2 Vendor Settings 

        .card-body

            .row.mb-3
                %label.col-sm-2.col-form-label{:for => "inputEmail3"} Vendor Email
                .col-sm-10
                    %input#inputEmail3.form-control{:type => "email", :placeholder => @user.email}/
            .row.mb-3
                %label.col-sm-2.col-form-label{:for => "companyName"} Company Name
                .col-sm-4
                    -#%input#companyName.form-control{:placeholder => @vendorSelected.company_name}/
                    = f.input_field :company_name, as: :text, input_html: {id: "companyNameTxt"}, placeholder: "Company Name"
                %label.col-sm-2.col-form-label{:for => "companyNum"} Company Number
                .col-sm-4
                    -#%input#companyNum.form-control{:placeholder => @vendorSelected.company_number}/    
                    = f.input_field :company_number, as: :integer, input_html: {id: "companyNumberTxt"}, placeholder: "Company Number"
            .row.mb-2
                %label.col-sm-2.col-form-label{:for => "initialScore"} Initial Score
                .col-sm-3
                    -#%input#initialScore.form-control{:placeholder => @vendorSelected.initial_score}/ 
                    = f.input_field :initial_score, as: :integer, input_html: {id: "initialScoreTxt"}, placeholder: "Initial Score" 
            .row.mb-2
                %label.col-sm-2.col-form-label{:for => "creditRating"} Credit Rating
                .col-sm-3
                    -#%input#creditRating.form-control{:placeholder => @vendorSelected.credit_rating}/
                    = f.input_field :credit_rating, as: :integer, input_html: {id: "creditRatingTxt"}, placeholder: "Credit Rating" 
            .row.mb-2
                %label.col-sm-2.col-form-label{:for => "kpi"} KPI
                .col-sm-3
                    = f.input_field :kpi, as: :integer, input_html: {id: "kpiTxt"}, placeholder: "KPI"  
            .row.mb-5
                %label.col-sm-2.col-form-label{:for => "riskRating"} Risk Rating
                .col-sm-3
                    = f.input_field :risk_rating, as: :integer, input_html: {id: "riskRatingTxt"}, placeholder: "Risk Rating"  
            .flex-row
                = f.submit "Update" , class: "btn btn-primary"
                = link_to 'Back ', :back, class: "btn btn-primary"
                -#= link_to "Delete", @vendorSelected , class: "btn btn-danger", :confirm => "Are you sure you want to delete this vendor?" , type: "button" , :method => :delete

