-#
  Admin home page where tasks given to vendors are displayed
  Admin can sort tasks to view overdue/upcoming tasks

- content_for :title, "Admin Home"
.card{style: "padding-top: 10px;"}
  .card-header
    %h3.panel-title Admin Dashboard
  .card-body
    .row  
      //First Column, containing the sort by menu
      .col-4 
        .card.mb-2
          .card-header.font-weight-bold
            Sort By
          .card-body
            %nav.nav.flex-column.nav-fill.nav-pills
              %a.nav-link= link_to "All Tasks" 
              %a.nav-link= link_to "Due Date Ascending" , :sort => "complete_by ASC"
              %a.nav-link= link_to "Due Date Descending" , :sort => "complete_by DESC"
              %a.nav-link= link_to "Priority Ascending" , :sort => "priority ASC"
              %a.nav-link= link_to "Priority Descending" , :sort => "priority DESC"
              
      //Second Column, containing the task dashboard table  
      .col-8
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr.active 
              %th Vendor
              %th Priority
              %th Due Date
              %th Task Title

            %tbody
            
            -#partial that displays all the tasks currently assigned 
            = render partial: 'display_vendor_tasks', locals: {tasks: @tasks}

        .justify-content-center
          = pagy_bootstrap_nav(@pagy).html_safe
