- content_for :title, "Admin Home"
.card
  .card-header
    %h3.panel-title Admin Dashboard
  .card-body
    .row  
      //First Column, containing the sort by menu
      .col-4 
        .card.mb-2
          .card-header.font-weight-bold
            Sort By
          .card-body
            %nav.nav.flex-column.nav-fill.nav-pills
              = link_to "All Tasks" 
              = link_to "Due Date Ascending" , :sort => "due_date ASC"
              = link_to "Due Date Descending" , :sort => "due_date DESC"
              = link_to "Priority Ascending" , :sort => "priority ASC"
              = link_to "Priority Descending" , :sort => "priority DESC"
      //Second Column, containing the task dashboard table  
      .col-8
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr.active 
              %th Vendor
              %th Priority
              %th Due Date
              %th Task Title

            %tbody

            -@tasks.each do |assignment|
              %tr
                -@task = Task.find_by(task_id: assignment.task_id)
                -@vendor = Vendor.find_by(vendor_id: assignment.vendor_id)
                %td= @vendor.company_name
                %td= assignment.priority 
                %td= assignment.due_date
                %td= @task.task_title


        %ul.pagination.justify-content-center
          %li.page-item 
            %a.page-link{:href => "#"} Prev
          %li.page-item 
            %a.page-link{:href => "#"} 1
          %li.page-item  
            %a.page-link{:href => "#"} 2
          %li.page-item  
            %a.page-link{:href => "#"} 3
          %li.page-item  
            %a.page-link{:href => "#"} 4
          %li.page-item  
            %a.page-link{:href => "#"} 5
          %li.page-item  
            %a.page-link{:href => "#"} Next
