-# 
    Page where all vendors are listed and can be searched for
    Allows admins to acess the vendor to edit or destroy 

%br 
.card-header
%h3 Vendor Management
%br
    //Search form, allowing user to query tasks. Also includes a reset button
    = simple_form_for :search, url: search_vendors_path, method: :post, defaults: {input_html: {class: 'form-control'}},remote: true do |f|
        = f.input_field :company_name, as: :string, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Company name"}, 
        placeholder: "Vendor Company Name"
        = f.button :submit, 'Search', class: 'btn btn-outline-primary'
        = link_to 'Reset', admin_management_path
    -#sort by
    .dropdown
        %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Sort By
        .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
            %a.dropdown-item= link_to "Vendor Company Name", :sort => "company_name"
            %a.dropdown-item= link_to "Vendor Company Number" , :sort => "company_number"
            %a.dropdown-item= link_to "Validatded" , :sort => "validated"

-# list all vendors in table
.card-body
    %table.table.table-hover
        %thead
            
            %tr
                %th Vendor ID
                %th Vendor Company Name
                %th Company Number 
                %th Incomplete Tasks

                -#partial that displays all the tasks currently assigned 
                = render partial: 'display_vendor', locals: {vendors: @vendorL}
            
    %nav.mt-2{"aria-label" => "Page navigation"}
        = link_to 'Create vendor', admin_create_vendor_path, class: "ajax-modal btn btn-outline-secondary", type: "button"
