
%div.d-flex.flex-column.justify-content-center.align-items-center{:style => "height:80vh"}
  .card.text-center{:style => "width:30em"}
    .card-header
      Create vendor

    .card-bodys.m-4
      - if @error_obj
        - if @error_obj.errors.any?
          - @error_obj.errors.full_messages.each do |message|
            .alert.alert-danger{:role => "alert"}
              = message
      = simple_form_for @vendor, url: admin_create_vendor_path, method: :post, html: { novalidate: false } do |f|
        = f.input :email, label: 'Email', as: :email, input_html: { value: @email }
        = f.input :name, label: 'Company name', as: :string, input_html: { value: @name }
        = f.input :address, label: 'Address', as: :string, input_html: { value: @address }
        .form-row
          .col-md-6
            = f.input :city, label: 'City/Town', as: :string, input_html: { value: @city }
          .col-md-6
            = f.input :postcode, label: 'Postcode', as: :string, input_html: { value: @postcode }
        = f.input :region, label: 'Country/Region', as: :string, input_html: { value: @region }
        -# = f.input :terms, label: 'Agree to terms and conditions', as: :boolean 
        = f.submit 'Create Vendor', class: "ajax-modal btn btn-outline-secondary"
