-#
    page to show the vendors responses and answers to questions 


%br 
-#move to controller
-@givenTask = GivenTask.find_by(given_task_id: @assignment.given_task_id)
-@task = Task.find_by(task_id: @givenTask.task_id)
-@assessmentLinker = AssessmentLinker.find_by(task_id: @task.task_id)
-@assessment = Assessment.find_by(assessment_id: @assessmentLinker.assessment_id)
-@questions = Question.where(assessment_id: @assessment.assessment_id)


.card-header
    %h1 Vendor Answer
    %br
    %h3= @task.task_title

.card-body.scrollable.card-body.overflow-auto{style: "overflow-y: scroll; max-height: 60vh"}
    - if @questions != nil
        - @questions.each do |que|
            %h5= que.question_text + ":"
            - answers = Answer.where(question_id: que.question_id)
            - answers.each do |ans|
                - vendor_answer = VendorAnswer.where(answer_id: ans.answer_id)
                - vendor_answer.each do |vend_ans|
                    - if vend_ans.answer_id == ans.answer_id
                        %li= ans.answer_text
                    - else
                        %li{:style => "color:#FF0000"} No answer
                    
                    - if ans.upload_needed == true
                        %p= vend_ans.answer_id
                        %p
                        - if vend_ans.upload.attached?
                            = image_tag(url_for(vend_ans.upload), width: 300)
                        %P= link_to 'Download', vend_ans.upload, download:vend_ans.upload
    
                        



