-#
    page to show the vendors responses and answers to questions 

-#move to controller
-@givenTask = GivenTask.find_by(given_task_id: @assignment.given_task_id)
-@task = Task.find_by(task_id: @givenTask.task_id)
-@assessmentLinker = AssessmentLinker.find_by(task_id: @task.task_id)
-@assessment = Assessment.find_by(assessment_id: @assessmentLinker.assessment_id)
-@questions = Question.where(assessment_id: @assessment.assessment_id)

.card
.card-header
    %h1 Vendor Answer
    %br
    %h3= @task.task_title

.card-body.scrollable.card-body.overflow-auto{style: "overflow-y: scroll; max-height: 60vh"}
    - if @questions != nil
        %table.table
            %tbody
                %tr
                - @questions.each do |que|
                    %tr
                    %th= que.question_text + ":"
                    %tr  

                    - answers = Answer.where(question_id: que.question_id)
                    - answers.each do |ans|
                        - vendor_answer = VendorAnswer.where(answer_id: ans.answer_id)
                        - vendor_answer.each do |vend_ans|
                            - if vend_ans.answer_id == ans.answer_id
                                %td= ans.answer_text
                        
                            - if ans.upload_needed
                                - if vend_ans.upload.attached?
                                    = image_tag(url_for(vend_ans.upload), width: 300)
                                %td= link_to 'Download', vend_ans.upload, download:vend_ans.upload
                    