-#
    page to show the vendors responses and answers to questions 

.card
    .card-header
        %h2 Vendor Answers
        %br
        %h3= @task.task_title

    .card-body.scrollable.card-body.overflow-auto{style: "overflow-y: scroll; max-height: 60vh"}
        %p
            %span.font-weight-bold> Assignment ID:&nbsp;
            = @assignment.assignment_id 
        %p 
            %span.font-weight-bold> Task Name:&nbsp;
            = Task.get_task_name(@assignment.given_task.task_id)

        %p 
            %span.font-weight-bold> Task Description:&nbsp;
            = Task.get_task_description(@assignment.given_task.task_id)
        %p 
            %span.font-weight-bold> Assessment Results:&nbsp;
        - if @assignment.vendor_answers != nil
            %table.table
                %tbody
                    %tr
                    - @assignment.vendor_answers.each do |answer|
                        %tr
                            %th= Question.get_question_from_answer(answer.answer_id).question_text + ":"
                            %td
                            %td 
                        %tr  
                            %td= Answer.get_answer(answer.answer_id).answer_text
                            %td
                            -if answer.upload.attached?
                                - link_title = "Download (" + answer.upload.content_type + ")"
                                %td= link_to link_title, rails_blob_path(answer.upload, disposition: "Link")
                            -else
                                %td Nothing attached



