.modal-dialog
  .modal-content
    = simple_form_for @given_task, remote: true , defaults: {input_html: {class: 'form-control'}}do |f|
      .modal-header
        %h4.modal-title Assigning task
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body.overflow-auto          
        .card.mb-3
          .card-header.py-1.px-3
            %label.form-label.my-0{:for => "scheduleArea"} 
              = icon 'fas', 'user-clock'
              %span.ml-1 Schedule
          .card-body.p-2.row
            //%textarea#descriptionTextarea.form-control{:rows => "3"} Description placeholder text
            = f.input_field :due_date, as: :date, input_html: {id: "scheduleArea"}


        -# .input-group.mb-3
        -#   .input-group-prepend
        -#     %span#basic-addon-tasktype.input-group-text 
        -#       = icon 'fas', 'clock'
        -#   = f.input_field :estimation, placeholder: "Estimated time (Minutes)",  as: :integer, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Task estimation"}
        
        -# = f.simple_fields_for :assessment_linker do |a_linker|
        -#   .input-group.mb-3
        -#     .input-group-prepend
        -#       %span#basic-addon-taskname.input-group-text{:for => "vendorDropDown"}
        -#         = icon 'fas', 'list-ol'
        -#       =a_linker.input_field :assessment_id, as: :select, collection: @assessments, label_method: :assessment_title, value_method: :assessment_id, input_html: {multiple: false, id: "assessmentDropDown"},label: false, prompt: "No Assessment"

            -# = a_linker.input_field :assessment_id, as: :select, collection: assessments, label_method: :assessment_title, value_method: :assessment_id, input_html: {multiple: false, id: "assessmentDropDown"}, promt: 'Select Assessment', label: false, prompt: "No Assessment"
        
        -# = f.input :task_title
        -# = f.input :task_description
        -# = f.input :estimation
        -# = f.simple_fields_for :assessment_linker do |a_linker|
        -#   - if @task.assessment_linker == nil
        -#     =a_linker.input_field :assessment_id, as: :select, collection: @assessments, label_method: :assessment_title, value_method: :assessment_id, input_html: {multiple: false, id: "assessmentDropDown"}, promt: 'Select Assessment', label: false, prompt: "No Assessment"
        -#   - else 
        -#     =a_linker.input_field :assessment_id, as: :select, collection: @assessments, label_method: :assessment_title, value_method: :assessment_id, input_html: {multiple: false, id: "assessmentDropDown"}, promt: 'Select Assessment', label: false, prompt: "No Assessment", selected: @task.assessment_linker.assessment_id
      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, class: 'btn btn-outline-dark'