.card-header
%h3 Completed Tasks
%br
    -#sort by
    .dropdown
        %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Sort By
        .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
            %a.dropdown-item= link_to "A-Z" , :sort => "task_title"
            %a.dropdown-item= link_to "Recently Completed", :sort => "due_date desc"
            %a.dropdown-item= link_to "Date Assigned" , :sort => "set_date"

.card.mb-3
    %table.table.table-hover
            
        %tr
            %th Task
            %th Date Assigned
            %th Date Completed
            %th Mark as complete
        %tr
        -@tasks.each do |task|
            %tr
                %td= task.task_title
                %td= task.set_date
                %td= task.due_date
                %td
                    %input{:name => "name1", :type => "checkbox", :checked => true}>/
                    \ 
            

    %br
    %div
    %ul.pagination.justify-content-center
        %li
            %button.btn.btn-primary.w-20{:type => "button"} Save Changes
