- content_for :title, "Change password"

%div.d-flex.flex-column.justify-content-center.align-items-center{:style => "height:80vh"}
  .card.text-center{:style => "width:30em"}
    .card-header
      Change password

    .card-bodys.m-4
      - if @error_msg
        .alert.alert-danger{:role => "alert"}
          = @error_msg

      - if @info_msg
        .alert.alert-success{:role => "alert"}
          = @info_msg
      -# this form is to change the users password      
      = simple_form_for :update, url: change_password_update_path, method: :post do |f|
        = f.input :newpass, label: 'New password', as: :string, input_html: {'type': 'password'}
        = f.input :reppass, label: 'Repeat password', as: :string, input_html: {'type': 'password'}
        = f.submit 'Update', class: "btn btn-success w-100 mt-3"
