-#    
  Page where vendors can change their details
  Detials such as email, password, company name 
  Makes use of the simple form feature

#new-task-panel.card.m-2.w-100.h-100
  = simple_form_for @user, url: vendor_path(@user),remote: true ,defaults: {input_html: {class: 'form-control'}} do |f|

    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

    
    .card-header.d-flex.justify-content-between.align-items-center.form-inputs
      %h5.m-0 Vendor Settings
      = f.button :submit, 'Update', class: 'btn btn-outline-primary'

    -# body showing infomation that can be changed
    .card-body.overflow-auto
      -# vendor information
      = f.simple_fields_for :vendor, @user.vendor do |t|
        .input-group.mb-3
          -#company name
          .input-group-prepend
            =t.label :company_name
          = t.input_field :company_name, required: true, as: :string, disabled: true, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Company Name"}
        .input-group.mb-3
          -#company number
          .input-group-prepend
            =t.label :company_number
          = t.input_field :company_number, required: true, as: :string, disabled: true, input_html: {"aria-describedby": "basic-addon-taskname", "aria-label": "Company Number"}



