-# 
    Vendor Home page that displays vendor tasks needing to be complete
    Includes: table of tasks, sorting option and progress bar

%br
-# header of page with progress bar and sort options
.card-header
    %h3 Vendor Home Page
    %br 

    -#progress bar section
    - @asLeft = @tasksCount
    %h4= "Tasks To Do: " + @asLeft.to_s 
    - if @asLeft == 0 
        - @asLeft=100
    .progress
        .progress-bar.progress-bar-info.progress-bar-striped{:style => "width: " + (100/@asLeft).to_s + "%"  }

    %br
    
    -#sorting drop down
    .dropdown
        %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", |
        "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Sort By
        .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
            %a.dropdown-item= link_to "Date Due", :sort => "due_date"
            %a.dropdown-item= link_to "Date Set" , :sort => "set_date"
            %a.dropdown-item= link_to "Defualt"

-#main content of page
.card-body
    %table.table.table-hover       
        -#non overdue table
        %thead
            %tr
                %th Task
                %th Description
                %th Set Date
                %th Due Date
                %th Link
            -# Listing all set tasks for the vendor    
            -@tasks.each do |givenTask|
                -@task = Task.find_by(task_id: givenTask.task_id)
                -@assessment_link = AssessmentLinker.find_by(task_id: @task.task_id)
                -@assignment = Assignment.find_by(assignment_id: givenTask.assignment_id)
                %tr
                - if givenTask.due_date < DateTime.now 
                    %td= @task.task_title 
                    %td= @task.task_description
                    %td= givenTask.set_date
                    %td{:style => "font-weight:bold; color:red"}= givenTask.due_date
                    -puts(@assignment.inspect)
                    - puts(@assignment.check_if_already_answered)
                    - if @assignment.check_if_already_answered
                        %td Review answers needed
                    - else
                        %td= link_to @task.task_title, assessments_questions_path(assessment_id: @assessment_link.assessment_id, assignment_id: givenTask.assignment_id), class: "list-group-item list-group-item-action", type: "button" 
                - else
                    %td= @task.task_title
                    %td= @task.task_description
                    %td= givenTask.set_date
                    %td= givenTask.due_date
                    - if @assignment.check_if_already_answered
                        %td Review answers needed
                    - else
                        %td= link_to "Go", assessments_questions_path(assessment_id: @assessment_link.assessment_id, assignment_id: givenTask.assignment_id) 
                  
                      

              



            


    