.modal-dialog
  .modal-content
    = simple_form_for @given_task, remote: true , defaults: {input_html: {class: 'form-control'}}do |f|
      .modal-header
        %h4.modal-title Assigning task
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body.overflow-auto     
        .input-group.mb-3     
          .input-group-prepend
            %span#basic-addon-taskname.input-group-text 
              = icon 'fas', 'user-clock'
            = f.text_field :due_date, as: :string, input_html: {id: "datepicker", value: Date.today, 'data-provide': 'datepicker'}, placeholder: "Inital due date"
        .input-group.mb-3     
          .input-group-prepend
            %span#basic-addon-taskname.input-group-text 
              = icon 'fas', 'redo-alt'
            = f.input_field :repeatable, placeholder: "Repeat (0 if non repeatable)", as: :integer
        .input-group.mb-3
          .input-group-prepend
            %span#basic-addon-taskname.input-group-text{:for => "priorityDropDown"}
              = icon 'fas', 'exclamation'
            =f.input_field :priority, as: :select, collection: ["Low", "Medium", "High"], input_html: {multiple: false, id: "priorityDropDown"},label: false, prompt: "Set importance level"
        #vendors.card
          .card-header 
            Assigned Vendors
          .card-body.overflow-auto{style: "max-height: 250px;"}
            %ul.input-group.mb-3.input_fields_wrap.questions.list-group.list-group-flush
              = f.simple_fields_for :assignments do |assignment|
                = render 'assignment_fields', f: assignment
            .links 
              = link_to_add_association "Add Vendor", f, :assignments, class: 'btn btn-dark'

      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit,'Assign Tasks', class: 'btn btn-outline-primary'
        
:javascript
  $('#datepicker').datepicker({format: 'dd-mm-yyyy'});
