!!!
%html
  %head
    %title Vendor Management Self-Service Platform - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class, style: "overflow-y: hidden;" }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = icon('fas', 'check', class: 'flash-success')
            - else
              = icon('fas', 'exclamation-triangle', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss

    #wrap
      %header{style: "position: fixed, left: 0, right: 0, top: 0;"}
        %nav#main-nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.fixed-top
          .navbar-header
            = link_to :root, class: 'navbar-brand hidden-sm d-flex' do
              %img{:src => "https://www.nicepng.com/png/full/141-1415001_university-of-sheffield-university-of-sheffield-logo-white.png", :height => '60em'}
              //%img{:src => "https://www.sheffield.ac.uk/themes/custom/uos/images/uos-crest.svg", :height => '60em'}
              -# .ml-2.align-self-center
              -#   Vendor Management
              -#   %br
              -#   Self-Service Platform

          - if @current_nav_identifier != :login
            .container.mx-2
              %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
                %span.navbar-toggler-icon
              .collapse.navbar-collapse#navbar-content
                %ul.nav.navbar-nav
                  -# admin nav
                  - if user_signed_in? && current_user.is_admin?
                    = navbar_link_to admin_home_path, title: "Go to the admin home page", identifier: :admin_home do
                      = icon 'fas', 'home'
                      Home
                    = navbar_link_to admin_tasks_path, title: "Go to the task management page", identifier: :admin_tasks do
                      = icon 'fas', 'tasks'
                      Tasks
                    = navbar_link_to admin_management_path, title: "Go to the vendor management page", identifier: :admin_venders do
                      = icon 'fas', 'user-circle'
                      Vendors
                    = navbar_link_to admin_assessments_path, title: "Go to the assessment management page", identifier: :vender_tasks do
                      = icon 'fas', 'tasks'
                      Assesment Page
                    = navbar_link_to given_tasks_path, title: "Go to the given task management page" do
                      = icon 'fas', 'calendar-alt'
                      Given Tasks Page
                    = navbar_link_to request_manage_path, title: "Go to the account requests managment page", identifier: :admin_requests do
                      = icon 'fas', 'file-invoice'
                      Account Requests
                    
                    = navbar_link_to change_password_path, title: "Go to the change password page" do
                      = icon 'fas', 'cogs'
                      Change password
                      
                    -# = navbar_link_to admin_settings_path, title: "Go to the admin settings page", identifier: :admin_settings do
                    -#   = icon 'fas', 'cogs'
                    -#   Settings
                    = navbar_link_to destroy_user_session_path, method: :delete, title: "Log out of the system", liclass: 'user-link' do
                      = icon 'fas', 'user'
                      Log out
                  -# vender nav
                  - if user_signed_in? && !current_user.is_admin?
                    = navbar_link_to vendor_home_path, title: "Go to the vender home page", identifier: :vender_home do
                      = icon 'fas', 'home'
                      Home
                    = navbar_link_to assessments_index_path, title: "Go to the vender tasks page", identifier: :vender_tasks do
                      = icon 'fas', 'tasks'
                      Assesment Page
                    = navbar_link_to completedtasks_index_path, title: "Go to completed tasks page", identifier: :completed_tasks do
                      = icon 'fas', 'tasks'
                      Completed Tasks
                    = navbar_link_to edit_vendor_path(current_user.user_id), title: "Go to the admin settings page" do
                      = icon 'fas', 'cogs'
                      Profile
                    
                    = navbar_link_to change_password_path, title: "Go to the change password page" do
                      = icon 'fas', 'cogs'
                      Change password

                    -# = navbar_link_to :root, title: "Go to the vender settings page", identifier: :vender_settings do
                    -#   = icon 'fas', 'cogs'
                    -#   Settings
                    = navbar_link_to destroy_user_session_path, method: :delete, title: "Log out of the system", liclass: 'user-link' do
                      = icon 'fas', 'user'
                      Log out

          -# login nav button
          - if @current_nav_identifier == :login
            %ul.nav.navbar-nav.ml-auto
              %a.btn.btn-primary{ href: "#", title: "Contact Univeristy" }
                Contact
                %br
                Univeristy

              -# - if user_signed_in?
              -#   %ul.nav.navbar-nav.ml-auto
              -#     %li.nav-item.dropdown
              -#       = link_to '#', aria: { haspopup: true, expanded: false }, data: { toggle: :dropdown }, id: 'navbar-user-link', class: 'nav-link dropdown-toggle', role: 'button' do
              -#         = icon 'fas', 'user', current_user.email
              -#         %b.caret
              -#       .dropdown-menu{ aria: { labelledby: '#navbar-user-link' } }
              -#         = link_to destroy_user_session_path, class: 'dropdown-item', method: :delete, title: "Log out of the system" do
              -#           = icon 'fas', 'sign-out-alt', 'Log out'

      %main{style: "padding-top: 20px;"}
        #main-container.container
          = yield

    %footer.footer.mt-auto.py-3.bg-light.navbar-fixed-bottom
      .container
        %p.text-muted
          Copyright &copy; #{Date.today.year}
          = link_to 'The University of Sheffield', 'https://www.sheffield.ac.uk/', target: '_blank', title: 'Go to The University of Sheffield website'
